html {
    background-color: var(--light_red);
    width: 100%;
    height: 100%;
}

body {
    width: 60%;
    height: 100%;
    margin:auto;
    background-color: var(--light_grey);

}


header {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

h1 {
    margin:0;
    padding: 2%;
    font-family: "Anonymous Pro";
    color: var(--black);
    font-size:2em;

}

nav {
    background-color: var(--dark_red);
    margin:0;
    padding:0;
}

ul {

    top:0;
    display: flex;
    margin:0;
    padding:0;

}

.nav_li {

    width: calc(100% / 3);
    text-align: center;
    padding: 2%;
    list-style-type: none;
    font-family: "Anonymous Pro";
    font-weight: bold;
    color: var(--light_grey);
    text-decoration: none;
    font-size: 1em;
}

.nav_li a:visited {
    text-decoration: none;
    color: var(--light_grey);
}

.nav_li a:link {
    text-decoration: none;
    color: var(--light_grey);

}

.nav_li a:hover {
    text-decoration: underline;
    color: var(--light_grey);

}

.nav_li a:active {
    text-decoration: none;
    color: var(--light_grey);

}

.nav_li.current {
    text-decoration: underline;
}

main {
    margin: 0;
    padding: 5%;
    width: 90%;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    font-family: "Anonymous Pro";
}

h2 {
    margin:0;
    padding: 2%;
    font-family: "Anonymous Pro";
    color: var(--black);
    font-weight: bold;
    font-size:1.3em;
}

.text {
    font-family: "Anonymous Pro";
    font-size: 1em;

}



